/* Gallery styling for the old, non-HTML5 gallery */
/* This can go once we've been upgraded to WordPress 3.9 */

div.gallery {
	width: 100%;
}

div.gallery:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.gallery dl.gallery-item {
	float: left;
    
	text-align: left !important;
	margin-bottom: 0;
}
	div.gallery-columns-2 dl.gallery-item { width: 48% !important; margin-right: 2%; }
	div.gallery-columns-3 dl.gallery-item { width: 31% !important; margin-right: 2%; }

div.gallery dl.gallery-item img {
	max-width: 100%;
	height: auto;

	border: none !important;
	border-radius: 14px; 
	border-bottom: 7px solid rgba( 0, 0, 0, 0.2 ) !important;
}

div.gallery dl.gallery-item dd.gallery-caption {
	font-size: 90%;
	width: 92%;
	padding: 0 4% 0.7em 4%;
}

div.gallery a {
	border-bottom: none;
}

/* Some fixes for colorboxes */

.hb {
	margin: 1em -35px 1em -35px;
	padding: 1em 35px 1em 35px;
	font-size: 115%; 
}
.hb h2 {
	font-size: 150%;
 	margin-bottom: 0.4em;
}
.hb + .hb {
	margin-top: -1.5em;
	border-top: none;
}

/* 2-column view with boxes */

.box2col {
	display: flex;
	flex-wrap: wrap;
	justify-content:
	space-between;
}
	.box2col div.box {
		flex-grow: 1;
		width: 33.3%;
		line-height: 1.8em;
		padding: 1em 1.5em;
		background-color: #fff;
	}
		.box2col div.box.left { margin: 0 1em 2em 0; }
		.box2col div.box.right { margin: 0 0 2em 1em; }
		.box2col div.box.sh { box-shadow: 0 0 0.2em 0.2em rgba( 0, 0, 0, 0.1 ); }

		.box2col h3 { margin-top: 0; }

	h2 + .box2col { margin-top: 2em; }
